
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
        }
        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        .card-title {
            color: #333;
            font-size: 1.25rem;
            font-weight: bold;
        }
        .card-text {
            color: #666;
            font-size: 1rem;
        }
        
        .small-image {
            max-width: 200px;
            max-height: 200px;
            /* margin-left: 300px; */
        }
    </style>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="../img/logo.png" class="logo" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/nike/<%= type[0].Typeid %>">Nike</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adidas/<%= type[1].Typeid %>">Adidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/converse/<%= type[2].Typeid %>">Converse</a>
                </li>
                <% if(usedata.level == "admin") { %>
                <li class="nav-item">
                    <a class="nav-link" href="/addproduct">addproduct</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/order">order</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="/Accouts">accout</a>
                </li>
                <% } %>
            </ul>
            <ul class="navbar-nav me-5">
                <li class="nav-item ms-5">
                    <% if (usedata.username) {%>
                        <%= usedata.username  %>
                        <br>
                        <a href="/logout">logout</a>
                    <% } else {%>
                    <a class="nav-link" href="/login">Login/Register</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>
    <div class="container">
        <h1 class="mt-4">Order List</h1>
            <% order.forEach(order => { %>
                <div class="card m-2" >
                    <div class="card-body">
                        <h5 class="card-title">Order ID: <%= order.orderid %>  </h5>
                        <p class="card-text">User ID: <%= order.userid %> </p>
                        <p class="card-text">Product ID: <%= order.Productid %> </p>
                        <!-- Add more details as needed -->
                        <a href="/deleteorder/<%= order.orderid %>" class="btn btn-success">Accept</a>
                    </div>
                </div>
            <% }); %>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
